---
server:
  port: 8040
spring:
  application:
    name: hireath-config-server
  profiles: config-server-1
  cloud: 
    config:
      label: master                                        # 配置仓库分支
      server:
        git:
          uri: https://github.com/capitek-xun/hireath/     # 配置git仓库的地址
          search-paths: hireath-config/config-repository   # git仓库地址下的相对地址，可以配置多个，用,分割。
          username: username                     # git仓库的账号
          password: password                              # git仓库的密码
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: 123456
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka/,http://localhost:8001/eureka/,http://localhost:8002/eureka/           # 注册中心eurka地址
---
server:
  port: 8041
spring:
  application:
    name: hireath-config-server
  profiles: config-server-2
  cloud: 
    config:
      label: master                                        # 配置仓库分支
      server:
        git:
          uri: https://github.com/capitek-xun/hireath/     # 配置git仓库的地址
          search-paths: hireath-config/config-repository   # git仓库地址下的相对地址，可以配置多个，用,分割。
          username: username                     # git仓库的账号
          password: password                              # git仓库的密码
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: 123456
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka/,http://localhost:8001/eureka/,http://localhost:8002/eureka/           # 注册中心eurka地址